export(RF)
export(bam2R)
export(manhattanPlot)
export(p.combine)
export(plot.deepSNV)
exportClasses(deepSNV)
exportMethods(`[`)
exportMethods(consensusSequence)
exportMethods(control)
exportMethods(coordinates)
exportMethods(deepSNV)
exportMethods(estimateDirichlet)
exportMethods(estimateDispersion)
exportMethods(normalize)
exportMethods(p.val)
exportMethods(repeatMask)
exportMethods(show)
exportMethods(summary)
exportMethods(test)
import(Biostrings)
import(Rsamtools)
import(methods)
importFrom(IRanges,as.data.frame)
importFrom(VGAM,vglm)
importFrom(graphics,plot)
useDynLib(deepSNV)
