exportClasses(deepSNV)
export(RF)
export(manhattanPlot)
export(bam2R)
export(p.combine)
export(plot.deepSNV)
exportMethods(summary)
exportMethods(`[`)
exportMethods(show)
exportMethods(deepSNV)
exportMethods(estimateDirichlet)
exportMethods(repeatMask)
exportMethods(consensusSequence)
exportMethods(estimateDispersion)
exportMethods(normalize)
exportMethods(control)
exportMethods(test)
exportMethods(p.val)
exportMethods(coordinates)
import(Rsamtools)
import(methods)
import(Biostrings)
importFrom(graphics, plot)
importFrom(VGAM, vglm)
importFrom(IRanges, as.data.frame)
useDynLib(deepSNV)
