export(bam2R)
export(bbb)
export(bf2Vcf)
export(loadAllData)
export(makePrior)
export(manhattanPlot)
export(mcChunk)
export(p.combine)
export(RF)
exportClasses(deepSNV)
exportMethods(`[`)
exportMethods(consensusSequence)
exportMethods(control)
exportMethods(coordinates)
exportMethods(deepSNV)
exportMethods(estimateDirichlet)
exportMethods(estimateDispersion)
exportMethods(normalize)
exportMethods(p.val)
exportMethods(repeatMask)
exportMethods(show)
exportMethods(summary)
exportMethods(test)
import(Biostrings)
import(methods)
import(Rsamtools)
importFrom(graphics,plot)
importFrom(IRanges,as.data.frame)
importFrom(VGAM,vglm)
S3method(plot,deepSNV)
useDynLib(deepSNV)
